autoflake == 2.3.1
faiss-cpu==1.9.0.post1
gensim==4.3.3
huggingface_hub==0.24.0
hydra-core==1.3.2
InstructorEmbedding==1.0.1
ipykernel==6.29.5
langchain==0.3.15
langchain-community==0.3.15
langchain-openai==0.3.5
omegaconf==2.3.0
matplotlib==3.10.0
numpy==1.26.4
pandas==2.2.3
pyarrow==18.1.0
pyLDAvis==3.4.1
pylint==3.3.4
python-json-logger==3.2.1
rich == 13.9.4
ruff==0.9.6
sentence-transformers==2.2.2
tika==2.6.0
wordcloud==1.9.4

--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio