autoflake
datasets
faiss-cpu
gensim
huggingface-hub==0.25.0
hydra-core
InstructorEmbedding==1.0.1
ipykernel
langchain
langchain-community
langchain-openai
omegaconf
matplotlib
numpy
pandas
pyarrow
pyLDAvis
pylint
python-json-logger
ragas
rich
sentence-transformers==2.2.2
tika
wordcloud
torch==2.4.1
torchvision==0.19.1