hydra-core
matplotlib
mlflow
numpy
opencv-python
pillow
python-json-logger
python-multipart
pyyaml
tqdm

# Install torch, torchvision, and torchaudio from the specified PyTorch index URL
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision